/* body{

  display:flex; 
  padding: 10px;
 padding-right: 100px;
   
  } */

body {
    background-color: rgb(240, 226, 163);
}

.viewer {
    width: 1250px;
    height: 900px;
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(211, 211, 211);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 1250px;
    height: 900px;
    top: 1300px;
    transition: 1.5s all;
    align-items: center;
}

.slide.show {
    top: 0px;
}

.button {
    font-family: 'MyWebFont';
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    border: 10px;
    border-color: rgb(252, 175, 82);
    border-radius: 50%;
    align-items: left;
    padding: 1rem;
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(152, 202, 151);
}

@font-face {
    font-family: 'MyWebFont';
    src: url('ragila-webfont.woff');
}

h1 {
    font-family: 'MyWebFont';
    font-style: bolder;
    font-size: 200px;
    color: rgb(55, 112, 158);
    text-align: left;
    margin: 2px;
    line-height: 70%;
    opacity: 90%;
}

p {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 2px;
    line-height: 94%;
    opacity: 90%;
}

a {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 70px;
    color: rgb(70, 70, 70);
    text-align: left;
    align-self: left;
    margin: 2px;
    opacity: 90%;
}

h2 {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 70px;
    color: rgb(180, 180, 180);
    text-align: left;
    align-self: left;
    margin: 2px;
    opacity: 90%;
    align-items: left;
    text-align: left;
    margin: 0;
}

b {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 50px;
    color: rgb(233, 227, 173);
    text-align: left;
    align-self: left;
    margin: 2px;
    opacity: 90%;
    align-items: center;
    text-align: left;
    margin: 0;
}

body {
    font-family: europa, sans-serif;
    background: rgb(248, 128, 128);
    text-align: center;
    /* background-image: url("giphy-20.gif");
    background-repeat: none;
    background-attachment: scroll;
    background-size:100%; */
}

.painting-container {
    padding: 5rem;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin: 50px;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 2fr;
    line-height: 500%;
}

.pic {
    width: 500px;
    height: auto;
    display: none;
}

.pic.active {
    display: block;
}

.year {
    display: none;
}

.year.active {
    display: block;
}