/* body{

  display:flex; 
  padding: 10px;
 padding-right: 100px;
   
  } */

#container2 {
    width: 1250px;
    border: 5px solid rgb(214, 60, 60);
    height: 80px;
    border-radius: 100px;
    overflow-x: scroll;
}

#wide-box {
    /* 	border: 10px solid green; */
    width: 1250px;
    height: 70px;
}

.item {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ccf;
}

.viewer {
    width: 1250px;
    height: 900px;
    border: 5px solid rgb(55, 112, 158);
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 1250px;
    height: 900px;
    bottom: 1300px;
    transition: 1.5s all;
    align-items: center;
}

.slide.show {
    bottom: 0px;
}

.button {
    font-family: 'MyWebFont';
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    border: 5px solid;
    border-color: rgb(255, 230, 0);
    border-radius: 50%;
    align-items: left;
    padding: 1rem;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display: inline-block;
    overflow-x: scroll;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('ragila-webfont.woff');
}

h1 {
    font-family: 'MyWebFont';
    border: 5px solid rgb(55, 112, 158);
    border-radius: 140px;
    font-style: bolder;
    font-size: 150px;
    color: rgb(0, 0, 0);
    padding: 1%;
    text-align: center;
    margin: 2px;
    line-height: 70%;
    opacity: 100%;
    border-width: 50%;
    width: 80%;
}

p {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 60px;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 83, 83);
    border-radius: 100px;
    text-align: center;
    margin: 2px;
    padding: 1%;
    line-height: 84%;
    opacity: 90%;
    width: 75%;
}

a {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-self: center;
    margin: 2px;
    opacity: 90%;
    border: 5px solid rgb(255, 208, 0);
    border-radius: 100px;
    padding: 1%;
    text-decoration: none;
}

h2 {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: left;
    align-self: left;
    margin: 2px;
    opacity: 90%;
    align-items: left;
    text-align: left;
    margin: 0;
}

b {
    font-family: 'MyWebFont';
    font-style: lighter;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: left;
    align-self: left;
    margin: 2px;
    opacity: 90%;
    align-items: center;
    text-align: left;
    margin: 0;
}

body {
    font-family: europa, sans-serif;
    background: rgb(255, 255, 255);
    text-align: center;
    background-image: url("7c483d54182227.59512cee6fd1e.gif");
    background-repeat: none;
    background-attachment: scroll;
    background-size: 100%;
}

.painting-container {
    padding: 5rem;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 150px;
    margin: 50px;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 400%;
}

.pic {
    width: 500px;
    height: auto;
    display: none;
}

.pic.active {
    display: block;
}

.year {
    display: none;
}

.year.active {
    display: block;
}